/*---------- 웹폰트 CDN ----------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Exo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');
/* font-family: 'Bellota', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* roboto */
@font-face {
    font-family: 'roboto';
    font-weight: bolder;
    font-style: normal;
    src: url('../font/roboto-black.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: bolder;
    font-style: italic;
    src: url('../font/roboto-blackitalic.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
    src: url('../font/roboto-bold.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 700;
    font-style: italic;
    src: url('../font/roboto-bolditalic.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 500;
    font-style: italic;
    src: url('../font/roboto-italic.woff') format('woff');
}

@font-face {
    font-family: 'roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../font/roboto-medium.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 400;
    font-style: italic;
    src: url('../font/roboto-mediumitalic.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../font/roboto-regular.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../font/roboto-light.woff') format('woff');
}
@font-face {
    font-family: 'roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../font/roboto-lightitalic.woff') format('woff');
}

@font-face {
    font-family: 'roboto';
    font-weight: 200;
    font-style: normal;
    src: url('../font/roboto-thin.woff') format('woff');
}

@font-face {
    font-family: 'roboto';
    font-weight:200;
    font-style: italic;
    src: url('../font/roboto-thinitalic.woff') format('woff');
}

/*---------- 아이콘폰트 CDN ----------*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 






/*---------- 공통 속성 ----------*/
*{ margin: 0;padding: 0;font-family: 'roboto','Noto Sans KR', sans-serif;}
html, body {width: 100%;height: 100%;position: relative;}
html {overflow-y: scroll; overflow-x: hidden; } 
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section {display: block;}
li {list-style-type: none;} 
a {text-decoration: none;color: inherit;} 
table {border-collapse: collapse;}
input, select {vertical-align: middle;}
button,
input[type=button],
input[type=submit],
input[type=reset]{cursor: pointer;}
button,input{outline: none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal; margin-top: 0; }
img{vertical-align:top;font-size:0;border:0;}









/*---------- header style ----------*/
header {width: 100%;background-color: #fff;z-index: 100;position: fixed;top: 0;left: 0;height: 54px;}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 54px;
    padding: 0 20px;    
}
header nav>img {width: 20px;height: 16px;}
header nav>img:nth-of-type(2) {width: 26px;height: 26px;cursor: pointer;}
header nav a {font-family: 'Noto sans KR', sans-serif;font-weight: bold;color: #000;font-size: 18px;}






/*---------- footer style ----------*/
/* footer {position : relative;transform : translateY(-50%);} */
/* footer {margin-top: 100px;} */
/* footer.footer02 {margin-top: 300px;} */
footer>ul {background-color: #555;color: #DDDDDD;display: flex;padding: 0 20px;height: 50px;}
footer>ul>li {font-size: 13px;font-weight: bold;line-height: 50px;cursor: pointer;}
footer>ul>li>span.sm_tt {font-size: 10px; color:#999; padding:10px; line-height: 5px;display: inline-block;transform: translateY(-2px);}
footer>div {height: 300px;background-color: #666;padding: 10px 0;color: #aaa;}
footer>div>div {padding: 20px;font-size: 12px;}
footer>div>div:nth-child(1) {padding: 10px 0 0 20px;}
footer>div>div:nth-child(1)>p>span {display: inline-block;margin: 0 3px;}
footer>div>div:nth-child(2)>p:not(:nth-child(1)) {padding-top: 10px;}
/* .tabsection{min-height:120px;} */



